API_KEY_CURRENCIES=your_api_key_for_currencies_here
API_KEY_STOCKS=your_api_key_for_stocks_here
BASE_URL_CURRENCIES='https://v6.exchangerate-api.com/v6/{API_KEY_CURRENCIES}/latest/RUB'
BASE_URL_STOCKS='https://eodhd.com/api/real-time/{stock}?api_token={API_KEY_STOCKS}&fmt=json'
